<div class="pagination-container">
  <div class="pagination-info">
    Showing {{ startItem }} to {{ endItem }} of {{ totalItems }} results
  </div>
  <div class="pagination-controls">
    <button mat-icon-button [disabled]="!hasPrevious" (click)="onPreviousPage()">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <span class="page-info">Page {{ currentPage }} of {{ totalPages }}</span>
    <button mat-icon-button [disabled]="!hasNext" (click)="onNextPage()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>